{% if messages %}
{% for message in messages %}
<div class="container-fluid p-0">
    <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <i class="fas fa-{% if 'success' in message.tags %}check-circle{% elif 'error' in message.tags or 'danger' in message.tags %}times-circle{% else %}info-circle{% endif %} mr-2"></i>
        {{ message }}
    </div>
</div>
{% endfor %}
{% endif %}
